<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>{{title1}}</title>
  </head>

  <body>

    <h1>Hallo, Ongaipi! Welcome to my movie Recommender! weyapoo, eli epandja letuvene!</h1>

    <p>Try it it is fun -you rate the ones you have watched before. When you hit Submit, you will get films recommendations</p>

    <form action="/recommendations">
      Days of Summer: <input type=text name="movie1" placeholder="0-5"><br>
      10 Things I Hate About You: <input type=text name="movie2" placeholder="0-5"><br>
      101 Dalmatians: <input type=text name="movie3" placeholder="0-5"><br>
      Shawshank Redemption: <input type=text name="movie4" placeholder="0-5"><br>
      Lord of the Rings: <input type=text name="movie5" placeholder="0-5"><br>
      Star Wars: <input type=text name="movie5" placeholder="0-5"><br>
      <p><input type="submit"></p>
    </form>




  </body>

</html>
